*{
    text-decoration: none;
    list-style: none;
    
    
}
html{
    background-color: antiquewhite;
}
.nav-bar{
    max-width: 100%;
	margin: auto;
	align-items: center;
	
	z-index: 1000;
}

.nav-bar li{
    display: inline-block;
    list-style: none;
}

.nav-bar li a{
    color: black;
}

/*INICIO-Estilo para elemestos reemplazables*/
.show-img img{
    width: 700px;
}
/*FIN-Estilo para elemestos reemplazables*/

/*INICIO-Estilo para las imagenes de mis apuntes en
"semantico.html"*/
.lession-content .box img{
    width: 80px;
}
/*FIN-Estilo para las imagenes de mis apuntes en
"semantico.html"*/


/*INICIO-Estilo para el espaico de contenido en
"semantico.html"*/
.principal{
    padding: 100px;
}
.lession-content{
    margin-top: 100px;
}
label{
    display: inline-block;
    align-content: space-between;
    padding: 10px 15px 20px 0px;
    
}
form .confirm{
    
    display: list-item;
}
/*FIN-Estilo para el espaico de contenido en
"semantico.html"*/