*{
    text-decoration: none;
    
}
.nav-bar{
    max-width: 100%;
	margin: auto;
	align-items: center;
	
	z-index: 1000;
}

.nav-bar li{
    display: inline-block;
    list-style: none;
}

/*INICIO-Estilo para elemestos reemplazables*/
.show-img img{
    width: 700px;
}
/*FIN-Estilo para elemestos reemplazables*/